target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Java/Maven ###
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Micronaut ###
.micronaut-cli/
build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Visual Studio Code ###
.vscode/
.history/
*.code-workspace

### Eclipse ###
.settings/
.project
.classpath
.factorypath
bin/

### OS ###
.DS_Store
Thumbs.db
desktop.ini

### Junie ###
.junie/